<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{% block title %}MyTechBlog{% endblock %}</title>

    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css" />

    <link rel="stylesheet" href="/css/layout.css" />
    {% block css %}{% endblock %}

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css">
</head>

<body>
<header>
    <div class="header">
        <a href="/" class="header__logo">My Tech Blog</a>
    </div>
</header>

<main>
    {% block content %}{% endblock %}
</main>

<footer>
    <div class="footer">
        <ul class="footer__menu">
            <li class="footer__menu-item"><a href="">Twitter</a></li>
            <li class="footer__menu-item"><a href="">GitHub</a></li>
            <li class="footer__menu-item"><a href="">プライバシーポリシー</a></li>
            <li class="footer__menu-item"><a href="">運営者</a></li>
        </ul>
        <div class="footer__copy-right">
            © 2019 ○○○○
        </div>
    </div>
</footer>

{% block js %}{% endblock %}
</body>
</html>
