{% extends "../layout.html" %}

{% block css %}
<link rel="stylesheet" href="/css/vendor/prism.css" />
<link rel="stylesheet" href="/css/article/new.css" />
<link rel="stylesheet" href="/css/article/_form.css" />
<link rel="stylesheet" href="/css/article/_article.css" />
{% endblock %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/2.0.0/remarkable.min.js"></script>
<script src="/js/vendor/prism.js"></script>
<script src="/js/module/parser.js"></script>
<script src="/js/module/form.js"></script>
<script src="/js/article/new.js"></script>
{% endblock %}

{% block title %}
新規作成 | {{ block.Super }}
{% endblock %}

{% block content %}
<div class="l-col l-row l-v-padd">
    <div class="article-new l-row">
        <div class="article-new__form l-row">
            {% include "./_form.html" %}
        </div>
    </div>
</div>
{% endblock %}
