a {
    text-decoration: none;
    color: inherit;
}

.header {
    background: #333;
    padding: 16px;
    color: #fff;
}

.header__logo {
    color: #fff;
}

.footer {
    background: #333;
    padding: 4px 10%;
    color: #fff;
    font-size: 16px;
}

.footer__menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer__menu-item {
    list-style: none;
    padding: 2px 4px;
}

.footer__copy-right {
    text-align: center;
    color: #bbb;
}

html {
    height: 100%;
    font-size: 10px;
}

body {
    height: 100%;
    background: #eee;
    font-size: 16px;
    font-family: Quicksand, 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro',
    メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    display: grid;
    grid-template-rows: max-content 1fr max-content;
}

.l-col {
    padding-left: 4%;
    padding-right: 4%;
    max-width: 960px;
    margin: 0 auto;
}

.l-row {
    height: 100%;
}

.l-v-padd {
    padding-top: 16px;
    padding-bottom: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

.btn--info {
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 16px;
    background: #eee;
    border: 1px solid #bbb;
    color: #444;
}

.btn--primary {
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 16px;
    background: #2e82e8;
    border: 1px solid #2e82e8;
    color: #fff;
}

.btn--info:focus,
.btn--primary:focus {
    outline: none;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
